<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="submitInfo(signupForm)">
    <div>
      <!-- name -->
      <label>Name</label>
      <input
        formControlName="name"
        type="text"
        placeholder="write your name"
        (change)="selectNameOfUse($event)"
      />
      <!-- error -->
      <p
        class="error"
        *ngIf="
          signupForm.controls['name'].errors?.['required'] &&
          signupForm.controls['name'].touched
        "
      >
        You must write your name!
      </p>
      <p
        class="error"
        *ngIf="
         signupForm.controls['name'].errors?.['pattern']
      "
      >
        should eng
      </p>
    </div>

    <!-- Nationality -->
    <div>
      <label>Nationality</label>
      <select (change)="getAllCountries()" formControlName="nationality">
        <option disabled selected hidden>Please Choose your country</option>
        <option value="{{ country }}" *ngFor="let country of allCountries">
          {{ country }}
        </option>
      </select>
      <!-- error -->
      <p
        class="error"
        *ngIf="
          signupForm.controls['nationality'].errors?.['required'] &&
          signupForm.controls['nationality'].touched
        "
      >
        You must write your nationality!
      </p>
    </div>

    <!-- Email -->
    <div>
      <label>Email</label>
      <input
        formControlName="email"
        type="text"
        placeholder="write your email "
      />
      <!-- error -->
      <p
        class="error"
        *ngIf="
        signupForm.controls['email'].errors?.['required'] &&
        signupForm.controls['email'].touched
        "
      >
        You must write your email!
      </p>
      <p class="error" *ngIf="signupForm.controls['email'].errors?.['email']">
        Email not valid.
      </p>
    </div>

    <!-- Password -->
    <div>
      <label>Password</label>
      <input
        formControlName="password"
        type="password"
        placeholder="write your password "
      />
      <!-- error -->
      <p
        class="error"
        *ngIf="
        signupForm.controls['password'].errors?.['required'] &&
        signupForm.controls['password'].touched


        "
      >
        You must write your password!
      </p>
      <p
        class="error"
        *ngIf="
          signupForm.controls['password'].value != null &&
          signupForm.controls['password'].value.length < 8
        "
      >
        password minlength 8 char
      </p>
    </div>

    <!-- password confirmation -->
    <div>
      <label>password confirmation</label>
      <input
        (change)="checkPasswordMatch($event)"
        formControlName="passwordConfirmation"
        type="password"
        placeholder="write your password confirmation"
      />
      <!-- error -->
      <p
        class="error"
        *ngIf=" signupForm.controls['passwordConfirmation'].errors?.['required']
        &&  signupForm.controls['passwordConfirmation'].value != null "
      >
        this confirmation password is required
      </p>
      <p
        class="error"
        *ngIf="!passwordWasMatch && signupForm.controls['password'].touched"
      >
        The password should be match
      </p>
      <p
        class="error"
        *ngIf="
          signupForm.controls['passwordConfirmation'].value != null &&
          signupForm.controls['passwordConfirmation'].value.length < 8
        "
      >
        password minlength 8 char
      </p>
    </div>

    <button type="submit" [disabled]="signupForm.invalid && !passwordWasMatch">
      signupForm
    </button>
    <h3>IP Address: {{ ipAddress }}</h3>
    <!-- <h2>{{ theNameofCountry }}</h2> -->
    <!-- signupForm.controls['password'].touched -->
    <!-- signupForm.controls['password'].value.length < 0 -->
  </form>
</div>
