<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="submitInfo(signupForm)">
    <div>
      <!-- name -->
      <label>Name</label>
      <input
        formControlName="name"
        type="text"
        placeholder="write your name"
        (change)="selectNameOfUse($event)"
      />
      <p
        class="error"
        *ngIf="
          signupForm.controls['name'].errors?.['required'] &&
          signupForm.controls['name'].touched
        "
      >
        You must write your name!
      </p>
      <p
        class="error"
        *ngIf="
         signupForm.controls['name'].errors?.['pattern']
      "
      >
        should eng
      </p>
    </div>

    <!-- Nationality -->
    <div>
      <label>Nationality</label>
      <!-- <input
        formControlName="nationality"
        type="text"
        placeholder="write your nationality "
        name="city"
        list="cityname"
      />
      <datalist id="countryname">
        <option [value]="country" *ngFor="let country of allCountries">
          {{ country }}
        </option>
      </datalist> -->
      <!-- <input
      formControlName="nationality"
      type="text"
      placeholder="write your nationality "
    /> -->
      <select (change)="getAllCountries()">
        <option disabled selected hidden>Please Choose your country</option>
        <option value="{{ country }}" *ngFor="let country of allCountries">
          {{ country }}
        </option>
      </select>

      <!-- <p
        class="error"
        *ngIf="
          signupForm.controls['email'].errors?.required &&
          signupForm.controls['email'].touched
        "
      >
        You must write your nationality!
      </p> -->
    </div>

    <!-- Email -->
    <div>
      <label>Email</label>
      <input
        formControlName="email"
        type="text"
        placeholder="write your email "
      />

      <p
        class="error"
        *ngIf="
        signupForm.controls['email'].errors?.['required'] &&
        signupForm.controls['email'].touched
        "
      >
        You must write your email!
      </p>
    </div>

    <!-- Password -->
    <div>
      <label>Password</label>
      <input
        formControlName="password"
        type="text"
        placeholder="write your password "
      />
      <p
        class="error"
        *ngIf="
        signupForm.controls['password'].errors?.['required'] &&
        signupForm.controls['password'].touched
        "
      >
        You must write your password!
      </p>
    </div>

    <!-- password confirmation -->
    <div>
      <label>password confirmation</label>
      <input
        (change)="checkPasswordMatch($event)"
        formControlName="passwordConfirmation"
        type="text"
        placeholder="write your password confirmation"
      />
      <p
        class="error"
        *ngIf=" signupForm.controls['passwordConfirmation'].errors?.['required'] &&
signupForm.controls['passwordConfirmation'].touched"
      >
        this confirmation password is required
      </p>
      <p
        *ngIf="
          !passwordWasMatch &&
          signupForm.controls['passwordConfirmation'].value.length > 0
        "
      >
        The password does not match
      </p>
    </div>

    <!-- <div>
      <label>ip adress</label>
      <input
        formControlName="ipAdress"
        type="text"
        placeholder="write your ip adress "
        [(ngModel)]="ipAddress"
      />
      <p
      class="error"
      *ngIf="
        signupForm.controls.category.errors?.required &&
        signupForm.controls.category.touched
      "
    >
      You must write your ip adress!
    </p>
    </div> -->

    <button
      type="submit"
      [disabled]="signupForm.invalid && !passwordWasMatch"
      (click)="goToWelcomeComponent(nameOfUser)"
    >
      signupForm
    </button>
    <h3>IP Address: {{ ipAddress }}</h3>
    <!-- <h2>{{ theNameofCountry }}</h2> -->
  </form>
</div>
