.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-evenly;
}

form {
  width: 40%;
  padding-left: 4px;
  padding: 20px;
  padding-top: 3em;
  border: 7px solid white;
  border-radius: 4px;
  margin-top: 12%;
  background: linear-gradient(
      0deg,
      rgba(233, 228, 228, 0.5),
      rgba(236, 232, 232, 0.5)
    ),
    url("https://images.pexels.com/photos/1161547/pexels-photo-1161547.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

form > div {
  width: 90%;
  max-width: 700px;
}

label {
  display: block;
  padding: 5px;
  font-size: 25px;
  margin: 7px;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #232a34;
}
input {
  width: 100%;
  height: 30px;
  padding: 8px;
  border-radius: 7px;
  font-size: 20px;
  background-color: #f6f6f6;
  outline: none;
  margin-bottom: 20px;
}
input:focus {
  outline: 2px solid #232a34;
}
.error {
  color: #df3737;
  font-size: 20px;
}
select {
  width: 100%;
  height: 50px;
  padding: 5px;
  border-radius: 7px;
  font-size: 20px;
  background-color: #f6f6f6;
  outline: none;
  margin-bottom: 20px;
}
select:focus {
  outline: 2px solid #232a34;
}
option {
  font-size: 1em;
  font-weight: lighter;
  height: 5%;
  color: #9e8e64;
  background-color: black;
  overflow-y: scroll;
}
button {
  display: block;
  margin: auto;
  margin-block: 1.5em;
  background-color: #3ab54a;
  border-radius: 28px;
  border: 1px solid #18ab29;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

button:enabled:hover {
  background-color: #5cbf2a;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:active {
  position: relative;
  top: 1px;
}

img {
  max-width: 100px;
}

.buttom {
  font-size: 3rem;
  line-height: 50px;
  margin-left: 20px;
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Work Sans", sans-serif;
  position: relative;
}

@media (max-width: 1024px) {
  form {
    width: 50%;
    margin-top: 190px;
  }

  .buttom {
    font-size: 1rem;
    line-height: 20px;
    margin-left: 20px;
  }
  img {
    width: 50px;
  }
}
@media (max-width: 750px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  form {
    width: calc(100% - 44px);
    margin-top: 0.5em;
    order: 2;
    height: auto;
  }
  label {
    display: block;
    padding: 5px;
    font-size: 1em;
  }
  input {
    width: 100%;
    font-size: 1em;
    height: 20px;
    padding: 8px;
  }
  .error {
    font-size: 0.8em;
    margin-top: 0;
  }
}
